!!!
%html
  %head
    = haml(:_head)
  %body
    = haml(:_nav)
    
    .pure-g
      .pure-u-1.pure-u-md-1-3
        %img{src: "/images/404.png", alt: "That is not a cute bear!", title: "That is not a cute bear!"}
