- player = locals[:player]
- avatar_url = "/images/dummy-profile-pic.png"
- if player.avatar_url
  - avatar_url = player.avatar_url
- elsif player.email
  - md5 = Digest::MD5.hexdigest(player.email.downcase)
  - avatar_url = "http://www.gravatar.com/avatar/#{md5}"
%img{src: avatar_url, alt: "Profile of #{player.name}", style: "width: 64px; height: 64px;"}
