.pure-menu.pure-menu-open.pure-menu-horizontal
  %a.pure-menu-heading{:href => "/"}
    Ciber Squash
  %ul
    %li.pure-menu
      %a{:href => '/'} Home
    - if admin?
      %li.pure-menu
        %a{:href => "/admin"} Admin
    - if logged_in?
      %li.pure-menu
        %a{:href => '/auth/logout'} Logg ut
    - else
      %li.pure-menu
        %a{:href => '/auth/google_oauth2'} Sign in with Google
      %li.pure-menu
        %a{:href => '/auth/facebook'} Sign in with Facebook
