!!!
%html
  %head
    %title Ciber Squash
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link(rel="stylesheet" href="/css/pure-min.css")
    %link(rel="stylesheet" href="/css/grids-responsive-min.css")
    %link(rel="stylesheet" href="/css/style.css")
  %body
    .pure-menu.pure-menu-open.pure-menu-horizontal
      %a.pure-menu-heading{:href => "/"}
        Ciber Squash
      %ul
        %li.pure-menu-selected
          %a{:href => "/"} Home
        %li
          %a{:href => "/admin"} Admin

    .pure-g
      - (1..10).each do | i |
        .pure-u-1.pure-u-md-1-3.l-box
          %p
            Dato: 05.11.2015
            %br
            Plasser: 2/7
            %br
            %button.button-success.pure-button
              Bli med
            %button.button-secondary.pure-button
              Påmeldte
          %form.pure-form.pure-form-aligned
            %fieldset
              %input#name{:placeholder => "Navn", :type => "text"}
              %button.pure-button.pure-button-primary{:type => "submit"} Send
          %ol
            - %w(Kyrre Njaal Nina Perry Sonia).shuffle.each do | n |
              %li
                =n
            
